*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

    --color1: #131414;
    --color2: #039BE5;
    --color3: #015C92;
    --color4: #ececec;
}


/*https://brittanychiang.com*/
section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--color1);
   scroll-snap-align:start;
}

section h1{
    color: var(--color4);
}
.mainContainer{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    background-color: var(--color1);
}
.titulo{
    display: flex;
    align-items: center;
    height:30vh;
    font-size: 20px;
}
.contenidoSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  
}

.textSobreMi{
    padding: 1rem;
}
/*Section one*/

.tituloNombre{
    color: var(--color4);;
    font-size: 4rem;
    font-weight: bold;
    padding: 0.2rem 0rem 0.2rem 0rem;
    margin: 0px 0px 15px 4px;
}

.textSobreMi p{
    width: 40rem;
    font-size: 1rem;
   
}
.textSobreMi p {
    color: var(--color4);;
    margin: 0px 0px 30px 4px;
}
.holasoy{
    font-size: 16px;
    color: var(--color2);
    margin: 0px 0px 30px 4px;
}
.button{
    border-radius: 25px;
    padding: .75em 1.5em;;
    cursor: pointer;
    text-decoration: none;
    color:  var(--color4);
    background: linear-gradient(to bottom right, var(--color2),var(--color3));
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: .2s ease-in-out 0s;
}
.button:hover{ 
    --color4Hover:rgb(148, 148, 148);
    transform: scale(1.10);
}
.imagePerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagePerfil img{
    
    width: 70%;
    max-width: 400px;
    border-radius: 50%;
    box-shadow: 30px 15px 50px #015C92 , -24px -15px 50px #039BE5, -10px -29px 50px #0277BD;
    transition: 2000ms ;
}
.imagePerfil img:hover{
    transform: scale(1.10);
}
.containerHabilidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.containerHabilidades .hSection{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
figure{
    text-align: center;
 
}
figure img{
    width: 7rem;
    height: 7rem;
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #4c4e4ed3 inset
}
figure figcaption{
    color: var(--color4);
}
/*LOGO*/
svg {
    width: 4rem;
    width: 4rem;  
}
.s0 { fill: #039BE5 } 
.s1 { fill: #015d9228;stroke: #039BE5;stroke-width: 60 }
.s1:hover { fill: #039ae544;stroke: #039BE5;stroke-width: 60 }

/*navbar*/
nav{
    background-color:transparent;
    position: fixed;
    width: 100%;
}
nav li{
    list-style: none;
    display: flex;
    justify-content: center;   
}
nav a:hover{
    color: var(--color4);
    transform: scale(1.15);
}
.navbar a{
    color: #039BE5;
    text-decoration: none;
    transition: .25s ease,text-shadow .3s ease
}
.navbar{
    z-index: 1000;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.nav-branding{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.hamburger{
    display:none;
    cursor: pointer;
}
.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition:all 0.3s ease-in-out ; 
   transition:all 0.3s ease-in-out ;
   background-color: white;
}
@media (max-width: 900px){
    nav li{
        background: transparent;
        padding: 0;
        border-radius: 0;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--color1);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .imagePerfil img{
        box-shadow: 5px 12px 10px #0277BD , -5px -12px 10px #0277BD;
    }
    .tituloNombre{
        font-size: 3rem;
    }
    section{
       scroll-snap-align:0;
    }
    
    section h1{
        color: var(--color4);
    }
    .mainContainer{
        scroll-snap-type: none;
        overflow-y: none;

    }
}



/*------------Section 1-------------------*/
@media only screen and (max-width: 1200px) {
    .textSobreMi{
        width: 100vh;
        justify-content: center;
    }
    div.textSobreMi   {order: 5;}
    .textSobreMi p{
        width: 100%;
    }
    div.imagePerfil  {
        order: 2;
        margin:5rem 0;
    }
    .navbar{
    padding: 0 25px;
    height: 100px;
    background-color: #131414;
    }
}
